*{
    margin: 0;
    padding: 0;
}
body,html{
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
}
ul,li {
    list-style: none;
}